<html ng-app="nodeApp">
<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <script src="js/controllers.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
</head>
<body ng-controller="MainController">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">YABS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{active:isTabSelected(pipeline.name)}" ng-repeat="pipeline in pipelines">
                    <a href="#" ng-click="setTab(pipeline.name)">{{pipeline.name}}<span class="badge">42</span></a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Dropdown
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button ng-click="emitFunction()">Emit</button>
                </li>
                <li ng-class="{active:isTabSelected(config)}">
                    <a href="#" ng-click="setTab(config)">Configuration</a></li>
            </ul>
        </div>
    </div>
</nav>


<div ng-show="!isTabSelected(config)" class="pipelines container">
    <div class="pipeline-run row panel-group bs-callout"
         ng-class="{'bs-callout-success':isPipelineRunSuccess(build), 'bs-callout-warning':isPipelineRunNotAccepted(build), 'bs-callout-danger':isPipelineRunFailed(build), 'bs-callout-info':isPipelineRunActive(build), 'bs-callout-default':isPipelineRunPending(build)}"
         ng-repeat="build in currentPipeline.pipelineBuilds | orderBy:'buildNr':true"
         style="">
        <div class="col-md-1">
            <div class="panel panel-default">
                <div class="panel-heading">#{{build.buildNr}}</div>
            </div>
        </div>
        <div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
        <div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
        <ul class="steps">
            <li ng-repeat="step in build.steps" class="col-md-2">
                <div class="panel"
                     ng-class="{'panel-success':isStepSuccess(step), 'panel-warning':isStepNotAccepted(step), 'panel-danger':isStepFailed(step), 'panel-info':isStepActive(step), 'panel-default':isStepPending(step)}">
                    <div class="panel-heading">
                        <a class="collapsed" data-toggle="collapse"
                           href="#additionalInfoPanel-build{{build.buildNr}}"
                           ng-click="setCurrentStep(build.buildNr, step.stepNr)"
                           aria-expanded="false"
                           aria-controls="additionalInfoPanel-build{{build.buildNr}}">
                            {{step.stepName}}
                        </a></div>
                    <div class="panel-body">
                        Build overview
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="45"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                45% Complete
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div id="additionalInfoPanel-build{{build.buildNr}}" class="panel-collapse collapse col-md-12" role="tabpanel"
             aria-labelledby="headingTwo">
            <h4 class="stepStatusIcons">
                <i class="glyphicon glyphicon-align-justify"></i>
                <i class="glyphicon glyphicon-check"></i>
            </h4>

            <div class="well">{{additionalInfo(build.buildNr)}}</div>
        </div>
    </div>
</div>

</body>
</html>