<html ng-app="nodeApp">
<head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <script src="js/controllers.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
</head>
<body ng-controller="MainController">
<h1>{{moinz}}</h1>
<button ng-click="emitFunction()">Emit</button>
<table>
    <tr >
        <td ng-repeat="emit in emitted">{{emit}}</td>
    </tr>
    <tr>
        <td ng-repeat="emit2 in emits">{{emit2}}</td>
    </tr>
</table>
    </body>
</html>