.steps {
    margin-bottom: 0px;
}

.pipelines {
    padding-top: 50px;
}

.scroller {
    text-align: center;
    cursor: pointer;
    padding: 7px;
    padding-top: 11px;
    white-space: no-wrap;
    vertical-align: middle;
    background-color: #fff;
}

.scroller-right {
    float: right;
}

.scroller-left {
    float: left;
}

.bs-callout {
    padding: 20px 0 20px 0;
    margin: 20px 0;
    border: 2px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}

h4.stepStatusIcons {
    margin-left: 10px;
    margin-bottom: 5px;
}

h4.stepStatusIcons i:hover {
    color: #ffffff;
    background: #000000;
}