.steps {
  margin-bottom:0px;
}

.pipelines {
  padding-top:70px;
}

.scroller {
  text-align:center;
  cursor:pointer;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}
.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}
